<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="/css/dark.css">
</head>
<body>
	<h1>Welcome to Your Expenses Monitor!</h1>
	
	<div class="form-container">

		<form class="form-login" name="f" method="post" action="/process_login">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	
			<label for="username">username:</label>
			<input class="input-login" type="text" name="username" id="username" />
	
			<label for="password">password:</label>
			<input class="input-login" type="password" name="password" id="password" />
			
			<div th:if="${param.error}" class="error">incorrect username or password</div>
			<div th:if="${param.error == null}" style="visibility: hidden">dummy</div>

			<div class="button-container">
				<button type="submit">login!</button>
			</div>
	
			<a class="link-simple" href="/auth/registration">or register here</a>
		</form>
	</div>

	<br>
	<p style="text-align: center;">demo account: username = guest, password = guest</p>
	
	
</body>
</html>