<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="/css/dark.css">
</head>

<body>

	<h2>Registration</h2>

	<hr>

	<form class="form-registration" th:method="POST" th:action="@{/auth/registration}" th:object="${person}">

		<label for="name">name: </label>
		<input type="text" th:field="*{name}" id="name" />
		<div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

		<label for="username">username: </label>
		<input type="text" th:field="*{username}" id="username" />
		<div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

		<label for="password">password: </label>
		<input type="password" th:field="*{password}" id="password" />
		<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

		<label for="passwordRepeat">repeat password: </label>
		<input type="password" th:field="*{passwordRepeat}" id="passwordRepeat" />

		<br>
		<button>create account!</button>
		<br>

		<a class="link-simple" href="/auth/login">or login here</a>
	</form>



</body>

</html>