<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>New Entry</title>
	<link rel="stylesheet" href="/css/dark.css">
</head>

<body>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			let dateField = document.getElementById("date");
			if (!dateField.value) {
				dateField.value = new Date().toISOString().split('T')[0];
			}
		});
	</script>

	<h2>New Expenses</h2>
	<hr>

	<form th:method="POST" th:action="@{/create}" th:object="${expenses}">

		<label for="amount">Amount, EUR: </label>
		<input type="text" th:field="*{amount}" id="amount" />
		<div class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>

		<label for="date">Date: </label>
		<input type="date" th:field="*{date}" id="date" />
		<div class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>

		<label for="comment">Purpose: </label>
		<input class="input-long" type="text" th:field="*{comment}" id="comment" />
		<div class="error" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>

		<br>
		<button>Add expenses!</button>

	</form>

</body>

</html>