<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>My Expenses</title>
	<link rel="stylesheet" href="/css/dark.css">
</head>
<body>
	<h2 th:text="${person.getName()}"></h2>
	
	<form th:action="@{/person/edit}" th:method="GET">
		<button>update profile</button>
	</form>
	
	<form th:action="@{/logout}" th:method="POST">
		<button>logout</button>
	</form>
	
	<hr>
	
	<h3>My Expenses</h3>
	
	<form action="/create"> 
		<button>add new</button>
	</form>

	<p></p>
    
    <table>
        <thead>
            <tr>
                <th class="col1">Amount, EUR</th>
                <th class="col2">Date</th>
                <th class="col3">Purpose</th>
				<th class="col4"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="expenses : ${expensesList}">
                <td class="col1" th:text="${#numbers.formatDecimal(expenses.amount, 1, 2)}"></td>
                <td class="col2" th:text="${#temporals.format(expenses.date, 'dd-MM-yyyy')}"></td>
                <td class="col3" th:text="${expenses.comment}"></td>
                <td class="col4">
                	<form th:method="GET" th:action="@{/edit}">
                		<input type="hidden" name="id" th:value="${expenses.id}" />
                		<button type="submit">edit</button>
                	</form>
                	
                 	<form th:method="POST" th:action="@{/delete}">
                 	 	<input type="hidden" name="id" th:value="${expenses.id}" />
                		<button type="submit">delete</button>
                	</form>
                </td>
            </tr>
        </tbody>
    </table>
	
	<hr>
	
</body>
</html>