<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>My Expenses</title>
	<link rel="stylesheet" href="/css/dark.css">
</head>
<body>
	<h2 th:text="${person.getUsername()}"></h2>
	
	<form action="/create"> 
		<button>add new</button>
	</form>
	
	<hr>
	
	<form th:action="@{/logout}" th:method="POST">
		<button>logout</button>
	</form>
	
	
	<hr>
	
	<h2>My Expenses List</h2>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="expenses : ${expensesList}">
                <td th:text="${expenses.amount}"></td>
                <td th:text="${expenses.date}"></td>
                <td th:text="${expenses.comment}"></td>
                <td>
                	<a th:href="@{/edit?id={id}(id=${expenses.id})}" th:text="edit"></a>
                </td>
                <td>
                	<a th:href="@{/delete?id={id}(id=${expenses.id})}" th:text="delete"></a>
                </td>
            </tr>
        </tbody>
    </table>
	
	<hr>
	
</body>
</html>