<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>My Expenses</title>
	<link rel="stylesheet" href="/css/dark.css">
</head>
<body>
	<h2 th:text="${person.getUsername()}"></h2>
	
	<form action="/create"> 
		<button>add new</button>
	</form>
	
	<hr>
	
	<form th:action="@{/logout}" th:method="POST">
		<button>logout</button>
	</form>
	
	
	<hr>
	
	<h2>My Expenses List</h2>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="expenses : ${expensesList}">
                <td th:text="${expenses.amount}"></td>
                <td th:text="${#temporals.format(expenses.date, 'dd-MM-yyyy')}"></td>
                <td th:text="${expenses.comment}"></td>
                <td>
                	<form th:method="GET" th:action="@{/edit}">
                		<input type="hidden" name="id" th:value="${expenses.id}" />
                		<button type="submit">edit</button>
                	</form>
                	
                </td>
                <td>
                 	<form th:method="POST" th:action="@{/delete}">
                 	 	<input type="hidden" name="id" th:value="${expenses.id}" />
                		<button type="submit">delete</button>
                	</form>
                </td>
            </tr>
        </tbody>
    </table>
	
	<hr>
	
</body>
</html>