<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editing My Expenses</title>
<link rel="stylesheet" href="/css/dark.css">
</head>
<body>
	<h2>Editing Expenses:</h2>
	
		<form th:method="PATCH" th:action="@{/update?id={id}(id=${expenses.id})}" th:object="${expenses}">
		
		<label for="amount">Amount: </label> 
		<input type="text" th:field="*{amount}" id="amount" />
		<div class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
		<p/>
		
		<label for="date">Date: </label> 
		<input type="date" th:field="*{date}" id="date" /> 
		<div class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
		<p/> 
		
		<label for="comment">Purpose: </label> 
		<input type="text" th:field="*{comment}" id="comment" /> 
		<div class="error" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
		
		<input type="hidden" th:field="*{ownerIdentity}" id="ownerIdentity" />
		
		<p/>
		
		<button>Update expenses!</button>
		
	</form>

</body>

</html>