<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>---Hello---</title>
</head>

<body>
	<h1 th:text="'Privet, ' + ${person.getUsername()} + '!!!'"></h1>

	<a href="/showExpenses">show Expenses for the User</a>
	<p>
		<a href="/newExpenses">new Expenses for the User</a>
	<form th:action="@{/logout}" th:method="POST">
		<button>logout!</button>
	</form>

<!-- 	<script>
		window.onload = function() {
			alert("Warning-Warning! :)");
		};
	</script>
 -->
 
</body>
</html>