<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Expenses Monitor</title>
<link rel="stylesheet" href="/css/dark.css">
</head>
<body>
	<h1>Welcome to Your Expenses Monitor!</h1>

	<table>
		<tr>
			<td>
				<h2>
					<a href="/auth/login">Sign-In</a>
				</h2>
			</td>
			<td>
				<h2>
					<a href="/auth/registration">Registration</a>
				</h2>
			</td>
		</tr>
	</table>
	
	<p>---Description will be here---</p>
	<p>---Default user credentials also here---</p>

	<p> 
		<span>The original code can be found at </span><a target="_blank"
			rel="noopener noreferrer" href="https://github.com/good-marik">GitHub</a><span>.</span>
	</p>
</body>
</html>