<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Expenses Monitor</title>
<link rel="stylesheet" href="/css/dark.css">
</head>
<body>
	<h1>Welcome to Your Expenses Monitor!</h1>

	<table class="table-main">
		<tr>
			<td>
				<h2>
					<a href="/auth/login">Log In</a>
				</h2>
			</td>
			<td>
				<h2>
					<a href="/auth/registration">Registration</a>
				</h2>
			</td>
		</tr>
	</table>
	
	<p>This web application is designed to help you to track and monitor your expenses, positively impacting your savings strategies.</p>
	
	<p>
		<span>It follows a microservices architecture, consisting of a gateway, a REST API server, and a database (</span><a class="link-simple" href="/local/path/here.jpg">scheme</a><span>).</span>
	</p>
	
	<p>Technologies used: <i>Java, Spring Boot, Spring Security, Spring Data JPA, PostgreSQL, and Thymeleaf.</i></p>
	
	<p>The project is written by Marat Khusniyarov for his portfolio.</p>

	<p> 
		<span>The original code can be found at </span><a class="link-simple" target="_blank" rel="noopener noreferrer" href="https://github.com/good-marik">GitHub</a><span>.</span>
	</p>

	
    <footer>
            <p>&copy; 2025 Marat Khusniyarov. All rights reserved.</p>
    </footer>

</body>
</html>